@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --top-background: #b2ae9a;
    --bottom-background: #2a3663;
    --message-color: #b2ae9a;
    --convo-color: #faf6e3;
    --correction-color: #2a3663;
    --text-color: #5e5c53;
}

body {
    font-size: 0.75em;
}
.header {
    font-family: "Times New Roman", Times, serif;
    font-size: 1rem;
}
.message-view {
    background-color: var(--top-background);
    padding: 0.75rem 1rem;
    border-radius: 1rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    max-width: 75%;
}
.convo-view {
    padding: 30px;
    background-color: var(--top-background);
    border-radius: 0 0 0.5rem 0.5rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.p {
    font-size: 50px;
}
.correction-view {
    padding: 2rem;
    background-color: var(--top-background);
    border-radius: 0 0 0.5rem 0.5rem;
    overflow-y: auto;
    display: flex;
    gap: 0.5rem;
}
